section .magic_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Poppins';

    .magic_input{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 80%;
        background-color: white;
        padding: 10px 10px;
        margin: 20px 0px;
        border-radius: 10px;
        box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.36);
        
        @media(min-width:769px){
            width: 540px;
        }

        &:focus-within {
            border: 1px solid rgb(158, 158, 158); 
        }

        input{
            outline: none;
            border: none;
            font-family: 'Poppins';
            font-weight: 400;
            width: 100%;
        }
        button{
            background-color: transparent;
            border: none;
            font-size: 15px;
            cursor: pointer;
        }
    }

    .magic_history{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 80%;
        background-color: white;
        padding: 10px 10px;
        margin: 7px 0px 0px 0px;
        border-radius: 10px;

        @media(min-width:769px){
            width: 540px;
        }

        button{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        input{
            font-family: 'Poppins';
            color: rgb(30, 71, 206);
            width: 100%;
            border: none;

            &:focus{
                outline: none;
            }
        }
    }

    .magic_summery{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px 0px;

        .magic_sum_title{
            width: 80%;

            @media(min-width:769px){
                width: 540px;
            }

            h4{
                margin: 0px 0px 0px 0px;
                color: rgb(49, 49, 49);

                span{
                    color: #103a98;
                }
            }
        }

        .magic_sum_article{
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 0px;
            border-radius: 10px;
            padding: 0px 20px;
            background-color: rgba($color: #ffffff, $alpha: 1.0);

            @media(min-width:769px){
                width: 540px;
            }

            p{
                font-size: 13px;

                @media(min-width:769px){
                    font-size: 16px;
                }
            }
        }
    }
    .magic_summary_error{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px;

        h4{
            margin: 0px 0px 0px 0px;
        }
        p{
            margin: 0;
            font-weight: 700;
            span{
                font-weight: 200;
                color: red;
            }
        }
    }
}






.magic_loader {
    color: #204baa;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    margin: 80px 0px;
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
   